<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.minio.mapper.FileMapper">

    <select id="selectListByDeleteBatchNums" resultType="com.example.minio.entity.File">
        select f.id,f.name,f.path,f.deleted_batch_num
        from file f
        where deleted_batch_num in
            <foreach collection="deletedBatchNums" index="index" item="item" open="(" separator="," close=")" >
                #{item}
            </foreach>
    </select>

    <update id="updateDeleteStatusByDeleteBatchNums">
        update file
        set is_deleted = 0, deleted_batch_num = null
        where deleted_batch_num in
            <foreach collection="deletedBatchNums" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>


</mapper>
