<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="./favicon.ico">
    <title>基于SpringBoot的Minio文件系统</title>
  </head>
  <!-- <script src=<%= htmlWebpackPlugin.options.url %>/tinymce4.7.5/tinymce.min.js></script>
  <script src=<%= htmlWebpackPlugin.options.url %>/tinymce4.7.5/langs/zh_CN.js></script> -->
  <!-- 这里的红线是框架本身的解析问题，对运行没有影响，不用理会，这是个中文包 -->
  <script src=/static/tinymce4.7.5/tinymce.min.js></script>
  <script src=/static/tinymce4.7.5/langs/zh_CN.js></script>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

